body

{ 
	margin:0%;
	text-align: center;
	background-color:green;
	padding-top:5px;
	font-family:Segoe UI Emoji;
	background-image:cover;
	
	
	
	
	
}
.sabo {
	color:white;
	
}
.ace {
	font:black;
	
}
.click2 {
	text-align:left;
	background-color:white;
	padding: 4px 50px 4px 50px;
	text-decoration: none;
	
}



.sparrow {
	width:auto;
	padding:auto:
	background-image: 500px;
	
}

.cycle {
	background-size: cover;
	
}